#per_detail{
	display: none;
}

#button2{
	display: none;
}

#wor_exp{
	display: none;
}

#button4{
	display: none;
}

#kcgi{
	display: none;
}

#button6{
	display: none;
}

#content{
	background-image: url("img/img14.jpeg");
	background-size: cover;
}
